.navbar{
    display: flex;
    justify-content: space-between;
    padding: .6rem 6%;
    box-shadow: 0 1px 3px -2px black;
    z-index: 1000;
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-logo img{
    width: 4rem !important;
}
.nav-logo p{
    color: #171717;
    font-size: 20px;
    font-weight: 600;
}
.nav-menu{
    display: flex; 
    gap: 50px;
    list-style: none;
    align-items: center;
    color: #626262;
    font-size: 1rem;
    font-weight: 400;
}
.nav-menu li{
    display: flex;flex-direction: column;
    align-items: center; justify-content: center;
    cursor: pointer;
    gap: .5rem;
}
.nav-menu li hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #FF4141;
}
.nav-cart-count{
    width: 18px; height: 18px;
    display: flex; justify-content: center; align-items: center;
    margin-top: -35px; margin-left: 10px;
    border-radius: 11px;
    font-size: 10px; background-color: red;
    color: white;
}
.cart svg{
    font-size: 1.4rem;
}