.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 60px;
    box-shadow: 0 1px 3px -2px #000;
    margin-bottom: 1px;
    background-color: white;
}
.nav_logo{
    /* width: 13rem; */
    height: 3.2rem;
}
.nav_profile{
    height: 3.2rem;
}

@media(max-width: 800px){

}